# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# ==========================
# ML Models (keep README only)
# ==========================
!**/models/
!**/models/README.md

# ==========================
# Python Build Files
# ==========================
build/
dist/
*.egg-info/
.eggs/

# ==========================
# IDEs
# ==========================
.vscode/
.idea/
*.swp
*.swo

# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Streamlit Secrets
# ==========================
.streamlit/secrets.toml

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Database & Data
# ==========================
*.db
database_setup/


# ==========================
# Miscellaneous
# ==========================
*.deb